---
---
@import 'base';

// Layout
.container {
  max-width: $container-max-width;
  padding: 0 $spacer * 2;
  margin: auto;
}

.header {
  font-size: 95%;
  background: $header-bg;
  padding-top: .75 * $spacer;
  padding-bottom: .75 * $spacer;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $header-link-color;
  }
}

.header-title {
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  overflow-x: scroll;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li:not(:last-child) {
    margin-right: $spacer;
  }

  a:hover {
    text-decoration: underline;
  }
}

.main {
  margin-top: 2 * $spacer;
  margin-bottom: 4 * $spacer;
}

.footer {
  font-size: 90%;
  margin-bottom: 2 * $spacer;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: .5 * $spacer;

    &:not(:last-child) {
      margin-right: $spacer;
    }
  }
}

// Home page
.home-section {
  margin-bottom: $spacer * 2;

  h2 {
    font-size: 1.5rem;
    margin-bottom: $spacer;
  }
}

// Post list
.post-list-item {
  margin-bottom: 1.35 * $spacer;

  p {
    margin-bottom: .15 * $spacer;
  }
}

.post-list-item-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .25 * $spacer;
}

.post-list-item-info {
  font-size: 95%;
  display: flex;
  color: $grey;
  margin-bottom: 0;
}

.post-list-item-info,
.post-info {
  span:not(:last-child) {
    margin-right: .25 * $spacer;
  }
}
