<!doctype html>
<html lang="{{ page.lang | default: site.theme_settings.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  {%- if page.title_meta -%}
    <title>{{ page.title_meta }}</title>
    {%- seo title=false -%}
  {%- else -%}
    {%- seo title -%}
  {%- endif -%}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/img/earth-48x48.png' | relative_url }}">
  {%- feed_meta -%}
</head>
<body>
  <header class="header">
    <div class="container">
      <a class="header-title" href="{{ '/' | relative_url }}">
        {{ site.title | escape }}
      </a>
      <nav class="nav">
        <ul class="menu">
          {%- assign menu_pages = site.theme_settings.menu_pages | default: site.pages -%}
          {%- for menu_page in menu_pages -%}
            {%- assign matched_site_page = site.pages | where: "path", menu_page.path | first -%}
            {%- if menu_page.title or matched_site_page.title -%}
              <li>
                <a href="{{ matched_site_page.url | relative_url }}">
                  {{ menu_page.title | default: matched_site_page.title | escape }}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </header>
  <main class="main container">{{ content }}</main>
  <footer class="footer container">
    <nav>
      <ul class="footer-links">
        {%- for link in site.theme_settings.footer_links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
        <li>
          <a href="{{ 'feed.xml' }}">Atom Feed</a>
        </li>
      </ul>
    </nav>
  </footer>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.theme_settings.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.theme_settings.google_analytics }}', {
      page_title: '{{ page.title | escape }}',
      anonymize_ip: true
    });
  </script>
</body>
</html>
