---
layout: default
---
<section class="home-section">
  <article>{{ content }}</article>
</section>

{%- if site.posts.size > 0 -%}
  <section class="home-section">
    <h2>Recent Posts</h2>
    {%- for post in site.posts limit:3 -%}
      {% include post-list-item.html %}
    {%- endfor -%}
  </section>
{%- endif -%}

{%- for display_collection in page.display_collections -%}
  <section class="home-section">
    <h2>{{ display_collection.title }}</h2>
    <ul class="post-links">
      {%- assign sorted_posts = site[display_collection.type] | sort: "date" | reverse -%}
      {%- for post in sorted_posts limit:display_collection.limit -%}
        {%- include post-link.html -%}
      {%- endfor -%}
    </ul>
  </section>
{%- endfor -%}
